*.[oa]
*.ERR.*
*.log
*.BAK
*.ERR
*.bom
*.obj
*.tlog
tst/
win/q_red_pit_control/ipch/
win/q_red_pit_control/q_red_pit_control/Debug/
win/q_red_pit_control/q_red_pit_control/GeneratedFiles/
win/q_red_pit_control/q_red_pit_control/Release/
win/q_red_pit_control/Win32/
win/q_win_sparrow/ipch/
win/q_win_sparrow/q_win_sparrow/Debug/
win/q_win_sparrow/q_win_sparrow/GeneratedFiles/
win/q_win_sparrow/q_win_sparrow/Release/
win/q_win_sparrow/Win32/
win/ugen_z_dbg/ipch/
win/ugen_z_dbg/ugen_z_dbg/Debug/
win/ugen_z_dbg/ugen_z_dbg/GeneratedFiles/
win/ugen_z_dbg/ugen_z_dbg/Release/
win/ugen_z_dbg/Win32/
xil/sparrow/sparrow.cache/
xil/sparrow/sparrow.runs/
xil/sparrow/sparrow_smos.cache/
xil/sparrow/sparrow_smos.runs/

*.backup.*
*.jou
*.exe
*.exp
*.ilk
*.pdb
*.bak
*.uvgui.*
*.bin
*.bit
*.mcs
*.ipch
*.sdf
*.suo
*.opensdf
*.tmp

